
.card{
    margin-top: 10px;
    border: none;
    width: 500px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: hsla(205, 46%, 30%, 1);
    background: linear-gradient(90deg, hsla(205, 46%, 30%, 1)0%, hsla(260, 29%, 36%, 1) 100%);
}
.card h1,
h6{
    color: #fff;
}
label{
    color: #fff;
}

/* .container-fluid{
    height: 100vh;
    background-repeat: no-repeat;
    background: url('assets/images/login.jpg');
    background-size: cover;
  } */
/* .button-box {
    width: 190px;
    margin: 40px auto;
    position: relative;
    border-radius: 30px;
    background: #fff;
}
.toggle-btn {
    padding: 10px 40px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
    text-align: center;
}
#btn{
    left: 0;
    top: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: #e67e22;
    border-radius: 30px;
    transition: 5s;
} */