<div class="container-fluid">
    <div class="row">
      <app-hospital-sidenav id="sidebar" class="col-md-3 col-lg-2 d-md-block bg-light sidebar"
        style="height: 132vh"></app-hospital-sidenav>
      <!-- Page Content -->
      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
          <div class="card-body p-4 p-md-5">
            <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Hospital Details</h3>
            <form>
              <h3><span>Basic</span></h3>
              <hr>
              <div class="row">
                <div class="col-md-12 mb-4">
                  <div class="form-outline">
                    <input type="text" id="Name" placeholder="Name" class="form-control form-control-lg" />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <input type="email" id="Email" placeholder="Email" class="form-control form-control-lg" />
                  </div>
                </div>
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <input type="text" id="lastName" placeholder="Phone Number" class="form-control form-control-lg" />
                  </div>
                </div>
              </div>
              <br>
              <h3><span>Address</span></h3>
              <hr>
              <div class="row">
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <input type="text" id="Street" placeholder="Street" class="form-control form-control-lg" />
                  </div>
                </div>
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <input type="text" id="City" placeholder="City" class="form-control form-control-lg" />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <input type="text" id="District" placeholder="District" class="form-control form-control-lg" />
                  </div>
                </div>
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <input type="text" id="Zip" placeholder="Zip" class="form-control form-control-lg" />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <input type="text" id="State" placeholder="State" class="form-control form-control-lg" />
                  </div>
                </div>
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <input type="text" id="Country" placeholder="Country" class="form-control form-control-lg" />
                  </div>
                </div>
              </div>
              <br>
              <h3><span>Doctors</span></h3>
              <hr>
              <div class="form-group" *ngFor="let doctor of doctors; let i = index">
                <h4>Doctor {{ i + 1 }}</h4>
                <div class="row">
                  <div class="col-md-6 mb-4">
                    <input type="text" class="form-control" placeholder="Name" id="doctorName{{ i }}"
                      name="doctorName{{ i }}" [(ngModel)]="doctor.name">
                  </div>
                  <div class="col-md-6 mb-4">
                    <input type="text" class="form-control" placeholder="Specialty" id="doctorSpecialty{{ i }}"
                      name="doctorSpecialty{{ i }}" [(ngModel)]="doctor.department">
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6 mb-4">
                    <input type="text" class="form-control" placeholder="Year of Experience" id="doctorExperience{{ i }}"
                      name="doctorExperience{{ i }}" [(ngModel)]="doctor.experience">
                  </div>
                  <div class="col-md-6 mb-4">
                    <input type="text" class="form-control" placeholder="Language Known" id="doctorLanguage{{ i }}"
                      name="doctorLanguage{{ i }}" [(ngModel)]="doctor.language">
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6 mb-4">
                    <div class="form-outline">
                      <input type="text" id="Education" placeholder="Education Qualification "
                        class="form-control form-control-lg" />
                    </div>
                  </div>
                  <div class="col-md-3 mb-4">
                    <div class="form-outline">
                      <input type="text" id="starttime" placeholder="Start Time" class="form-control form-control-lg" />
                    </div>
                  </div>
                  <div class="col-md-3 mb-4">
                    <div class="form-outline">
                      <input type="text" id="endtime" placeholder="End Time" class="form-control form-control-lg" />
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <textarea class="form-control" placeholder="Add Bio" id="bio" rows="3"></textarea>
                </div>
                <button type="button" class="btn btn-danger" (click)="removeDoctor(i)">Remove Doctor</button>
              </div>
              <button class="btn btn-primary" (click)="addDoctor()">Add Doctor</button>

              <div class="d-flex align-items-center justify-content-center">
                <button type="submit" class="btn btn-danger">Save</button>
              </div>
            </form>
          </div>
        </div>
      </main>
      <!-- /#page-content-wrapper -->
      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4"></main>
    </div>
  </div>
