<div class="row my-5">
  <div
    class="d-flex"
    *ngIf="recommendedHospitals && recommendedHospitals[0]?.city"
  >
    <img
      src="assets/images/location.svg"
      width="30"
      height="24"
      class="d-inline-block align-text-top"
    />

    <h4
      class="text-primary d-inline-block align-text-top"
      *ngIf="recommendedHospitals && recommendedHospitals[0]?.city"
    >
      {{ recommendedHospitals[0].city.name }}
    </h4>
  </div>
  <h2
    class="display-5 col-12 py-2"
    *ngIf="
      recommendedHospitals && recommendedHospitals[0]?.city;
      else noHospitals
    "
  >
    Recommendations By Your Location
  </h2>

  <ng-template #noHospitals>
    <h2 class="display-5 col-12 py-2">We couldn't find any nearby your city</h2>
  </ng-template>
  <div
    *ngFor="let recommendation of recommendedHospitals"
    class="col-md-6 col-xl-3 py-2"
  >
    <div class="card m-b-30">
      <div class="card-body row">
        <div class="col-12 card-title align-self-center mb-0">
          <h3 class="text-center">{{ recommendation.hospitalName }}</h3>
          <hr />
        </div>
        <div class="col-1">
          <img
            src="assets/images/rating.svg"
            width="30"
            height="24"
            class="d-inline-block align-text-top"
          />
        </div>
        <div class="col-7">
          <p class="m-0">
            {{ recommendation.hospitalRating }}
          </p>
        </div>

        <div class="col-4">
          {{ recommendation.city.name }}
        </div>
        <div class="col-12 my-2">
          <a href="">
            <img
              [src]="recommendation.hospitalImageURL"
              alt=""
              class="img-fluid custom-image"
              style="height: 30vh; width: 100vh"
            />
          </a>
        </div>
        <div class="col-12 text-center my-2">
          <a
            [routerLink]="['/hospital-page', recommendation.hospitalId]"
            class="my-2"
          >
            <button class="btn btn-danger">Book</button>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
