<nav>
  <div class="position-sticky side-navbar">
    <div class="side-navbar-top">
      <div class="text-center mt-4">
        <img
          src="assets/images/profile.svg"
          alt="Profile Picture"
          class="rounded-circle"
          width="100"
          height="100"
        />
      </div>
      <h5 class="text-center mt-3">Roopesh Rokade</h5>
    </div>

    <div class="side-navbar-bottom list-group list-group-flush">
      <a
        routerLink="/patient-profile"
        class="side-navbar-list list-group-item list-group-item-action bg-light"
        >Profile Details</a
      >
      <a
        routerLink="/update-profile"
        class="side-navbar-list list-group-item list-group-item-action bg-light"
        >Update Profile</a
      >
      <a
        routerLink="/index"
        class="side-navbar-list list-group-item list-group-item-action bg-light"
        >Logout</a
      >
    </div>
  </div>
</nav>
