<div class="card shadow-2-strong card-registration" style="border-radius: 15px">
  <div class="card-body p-4 p-md-5">
    <div class="card-body buttons">
      <div class="row">
        <div class="left col-md-4">
          <h3><span class="text-primary">Basic</span></h3>
        </div>
        <div class="right col-md-8">
          <a routerLink="/patient-profile" class="card-link">
            <button class="btn btn-primary">Add Profile</button>
          </a>
          <a routerLink="/display-patient-profile" class="card-link">
            <button class="btn btn-primary">Display Profile</button>
          </a>
        </div>
      </div>
    </div>
    <form [formGroup]="patientProfileForm" (ngSubmit)="onSubmit()">
      <hr />
      <div class="row">
        <div class="col-md-6 mb-4">
          <div class="col-auto">
            <label for="name" class="col-form-label">Name</label>
          </div>
          <div class="form-outline">
            <input
              type="text"
              id="name"
              placeholder="Enter Your Name"
              class="form-control form-control-lg"
              formControlName="patientName"
            />
          </div>
        </div>
        <div class="col-md-6 mb-4">
          <div class="col-auto">
            <label for="dob" class="col-form-label">Date Of Birth</label>
          </div>
          <div class="form-outline">
            <input
              type="date"
              id="dob"
              placeholder="Enter Your DOB"
              class="form-control form-control-lg"
              formControlName="dob"
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 mb-4">
          <div class="col-auto">
            <label for="email" class="col-form-label">Email</label>
          </div>
          <div class="form-outline">
            <input
              type="text"
              id="email"
              placeholder="Enter Your Email"
              class="form-control form-control-lg"
              formControlName="email"
            />
          </div>
        </div>
        <div class="col-md-6 mb-4">
          <div class="col-auto">
            <label for="phone" class="col-form-label">Phone Number</label>
          </div>
          <div class="form-outline">
            <input
              type="phone"
              id="phone"
              placeholder="Enter Your Phone Number"
              class="form-control form-control-lg"
              formControlName="phoneNumber"
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 mb-4">
          <div class="col-auto">
            <label for="blood" class="col-form-label">Blood Group</label>
          </div>
          <select
            class="form-select"
            id="blood"
            aria-label="Select Blood Group"
            formControlName="bloodGroup"
          >
            <option selected>Select blood group</option>
            <option value="A+">A+</option>
            <option value="A-">A-</option>
            <option value="B+">B+</option>
            <option value="B-">B-</option>
            <option value="AB+">AB+</option>
            <option value="AB-">AB-</option>
            <option value="O+">O+</option>
            <option value="O-">O-</option>
          </select>
        </div>
        <div class="col-md-6 mb-4">
          <div class="col-auto">
            <label for="gender" class="col-form-label">Gender</label>
          </div>
          <select
            class="form-select"
            id="gender"
            aria-label="Select Gender"
            formControlName="gender"
          >
            <option selected>Select Your Gender</option>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
            <option value="Other">Other</option>
          </select>
        </div>
      </div>
      <h3><span>Address</span></h3>
      <hr />
      <div class="row">
        <div class="col-md-6 mb-4">
          <div class="col-auto">
            <label for="city" class="col-form-label">City</label>
          </div>
          <div class="form-outline">
            <input
              type="text"
              id="city"
              placeholder="Enter Your City"
              class="form-control form-control-lg"
              formControlName="cityName"
            />
          </div>
        </div>
        <div class="col-md-6 mb-4">
          <div class="col-auto">
            <label for="district" class="col-form-label">District</label>
          </div>
          <div class="form-outline">
            <input
              type="text"
              id="district"
              placeholder="Enter Your District"
              class="form-control form-control-lg"
              formControlName="district"
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 mb-4">
          <div class="col-auto">
            <label for="state" class="col-form-label">State</label>
          </div>
          <div class="form-outline">
            <input
              type="text"
              id="state"
              placeholder="Enter Your State"
              class="form-control form-control-lg"
              formControlName="state"
            />
          </div>
        </div>
        <div class="col-md-6 mb-4">
          <div class="col-auto">
            <label for="country" class="col-form-label">Country</label>
          </div>
          <div class="form-outline">
            <input
              type="text"
              id="country"
              placeholder="Enter Your Country"
              class="form-control form-control-lg"
              formControlName="country"
            />
          </div>
        </div>
        <div class="col-md-6 mb-4">
          <div class="col-auto">
            <label for="zip" class="col-form-label">Zip</label>
          </div>
          <div class="form-outline">
            <input
              type="text"
              id="zip"
              placeholder="Enter Your Zip"
              class="form-control form-control-lg"
              formControlName="zip"
            />
          </div>
        </div>
      </div>
      <h3><span>Medical History</span></h3>
      <hr />
      <div class="row">
        <div class="col-md-12 mb-4">
          <div class="col-auto">
            <label for="medicalHistory" class="col-form-label">Medical</label>
          </div>
          <div class="form-outline">
            <textarea
              type="text"
              id="medicalHistory"
              placeholder="Enter Your Past Medical History Here"
              class="form-control form-control-lg"
              rows="3"
              formControlName="medicalHistory"
            ></textarea>
          </div>
        </div>
        <div class="col-md-12 mb-4">
          <div class="col-auto">
            <label for="medicineHistory" class="col-form-label">Medicine</label>
          </div>
          <div class="form-outline">
            <textarea
              type="text"
              id="medicineHistory"
              placeholder="Enter Your Medicines History Here"
              rows="3"
              class="form-control form-control-lg"
              formControlName="medicineHistory"
            ></textarea>
          </div>
        </div>
        <div class="col-md-12 mb-4">
          <div class="col-auto">
            <label for="treatmentHistory" class="col-form-label">Treatment</label>
          </div>
          <div class="form-outline">
            <textarea
              type="text"
              id="treatmentHistory"
              placeholder="Enter Your Past Treatments Here"
              class="form-control form-control-lg"
              rows="3"
              formControlName="treatmentHistory"
            ></textarea>
          </div>
        </div>
      </div>
      <h3><span>Password</span></h3>
      <hr />
      <div class="row">
        <div class="col-md-6 mb-4">
          <div class="col-auto">
            <label for="password" class="col-form-label">Password</label>
          </div>
          <div class="form-outline">
            <input
              type="password"
              id="password"
              placeholder="Enter New Password"
              class="form-control form-control-lg"
            />
          </div>
        </div>
        <div class="col-md-6 mb-4">
          <div class="col-auto">
            <label for="confirm-password" class="col-form-label"
              >Confirm Password</label
            >
          </div>
          <div class="form-outline">
            <input
              type="password"
              id="confirm-password"
              placeholder="Enter New Password Again"
              class="form-control form-control-lg"
            />
          </div>
        </div>
      </div>
      <div class="d-flex align-items-center justify-content-center">
        <button type="submit" class="btn btn-danger">Update</button>
      </div>
    </form>
  </div>
</div>
